* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.banner {
    position: relative;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section {
    padding: 100px;

}

.image {
    opacity: 1;
}

.banner h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;

}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 500;

}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    background-color: white;

}

header.sticky {
    background: #fff;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;

}

header .sticky .logo {
    color: white;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;

}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

header .sticky ul li a {
    color: white;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;

}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contentBx {
    padding-right: 50px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;

}


img {
    max-width: 100%;
    opacity: 0.5;
    border: black;
    border-radius: 20px;
    border-width: 5px;

}

img:hover {
    opacity: 1.5;
    transition: 200ms;
}

.services {
    background: #111;
}

.heading.white {
    color: white;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover {
    background: #2196f3;
}

.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 33%;
    padding: 10px;

}


.work .content .workBx1 {
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.testimonial {
    background: #f7f7f7;

}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
    min-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;

}

.testimonial .content .testimonialBx p {
    color: white;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
}


.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}